%p
  %label{"for"=>"#{resource.downcase}_#{resource.downcase}"}
  = "Choose File:"
  = f.file_field :uploaded_data
- if options[:with_display_name]
  %p
    %label{"for"=>"#{resource.downcase}_name"}
      Link Name:
    = f.text_field :display_name
- if options[:with_caption]
  %p
    %label{"for"=>"#{resource.downcase}_caption"}
      Caption:
    = f.text_field :caption
- fields_for :options do |option|
  = option.hidden_field "with_display_name", :value => options[:with_display_name].to_s
  = option.hidden_field "with_caption", :value => options[:with_caption].to_s
  = option.hidden_field "with_icon", :value => options[:with_icon].to_s