%p
  %label{"for"=>"#{resource.tableize.singularize}_#{resource.tableize.singularize}"}
  = "Choose File:"
  = f.file_field :uploaded_data
- if options[:with_display_name]
  %p
    %label{"for"=>"#{resource.tableize.singularize}_name"}
      Link Name:
    = f.text_field :display_name
- if options[:with_caption]
  %p
    %label{"for"=>"#{resource.tableize.singularize}_caption"}
      Caption:
    = f.text_field :caption

- if is_test
  = options.inspect
- else
  /- load additional data into model
  - options[:extras].each do |k,v|
    = f.hidden_field k, :value => v.to_s
  
  - fields_for :options do |option|
    - [ :with_delete, :with_update, :with_display_name, :with_caption, :with_icon, :with_image, :image_size, :with_link, :single_upload, :add_browse_visible ].each do |o|
      = option.hidden_field o, :value => options[o].to_s
    
