%p
  %label{"for"=>"#{resource.downcase}_#{resource.downcase}"}
  = "Choose File:"
  = f.file_field :uploaded_data
- if options[:with_display_name]
  %p
    %label{"for"=>"#{resource.downcase}_name"}
      Link Name:
    = f.text_field :display_name
- if options[:with_caption]
  %p
    %label{"for"=>"#{resource.downcase}_caption"}
      Caption:
    = f.text_field :caption
- fields_for :options do |option|
  - [ :with_delete, :with_update, :with_display_name, :with_caption, :with_icon ].each do |o|
    = option.hidden_field o, :value => options[o].to_s